/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
_lighthouse_ide_helper.php
_programmatic-types.graphql
_ide_helper.php
schema-directives.graphql
graphql.schema.json
.phpstorm.meta.php
schema.graphql
programmatic-types.graphql
_tmp
.DS_Store
